@font-face {
    font-family: 'Pacifico-Regular';
    src: url(font/Pacifico-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico-Regular';
    box-sizing:border-box;
}


body {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #ff2929, #8d1854);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.waviy {
  
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
  margin-top: 40px;
}
.waviy span {
  font-family:''Russo One', sans-serif';
  position: relative;
  display: inline-block;
  color: #fff;
  
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.waviy1{
    color: whitesmoke;
    background-size: 400% 400%;
    position: relative;
  font-size: 60px;
  margin-top: 40px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
    
}
.container {
    height: 100vh;
    width: 100%;
    padding-right: 5%;
    padding-left: 3%;
    box-sizing: border-box;
    position: relative;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
    height: 80%;
    width: 180px;
    margin-top: 17px;
    cursor: pointer;
}

.content {
    position:fixed;
}/*
h1 {
    text-transform: lowercase;
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 60px;
    margin-top: 100px;
    color: #fff;
}

h1 .style {
    color: #d8c5c5;
    font-size: 100px;
    font-weight: 800;
    font-family: 'Aladin', cursive;
}
.text {
    position:static;
    display: flex;
    align-items:center;

}
  /*
.btn {
    
    color: #d10a20;
    background-color: #fff;
    padding: 12px 35px;
    margin-top: 200px;
    margin-left: 300px;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    border-radius: 40px;
    display: block;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    transition: all .5s;
}
*/
html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fcfafa;
  background: #df7171;
  background-image: linear-gradient(45deg, #db34d2, #2a95b6, #f33d3d, #c4d01e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(255, 255, 255, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding:20px 50px;
  margin-top: 100px;
  margin-left: 100px;
  }

  

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}
/*
.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}*/

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 12px solid #f3eded;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
  
.image {
    position:fixed;
    bottom: 0;
    width: 600px;
    height: 650px;
    margin-bottom: 10px;
    margin-left: 850px;
    
}